<footer class="footer" id="footer">
    <div>
        <div>
            <img src="./images/myLogo.jpg" alt="">
        </div>

        <div class="links">
            <div>Github: &nbsp; <a href="https://github.com/brightamouzou">https://github.com/brightamouzou</a></div>
            <div>Instagram: &nbsp; <a href="https://www.instagram.com/bab_fingers/">https://www.instagram.com/bab_fingers</a></div>
            <div>Facebook: &nbsp; <a href="https://www.facebook.com/bright.amouzou/">https://www.facebook.com/bright.amouzou</a></div>
            <div>Twiter: &nbsp; <a href="https://twitter.com/BrightAMOUZOU1">https://twitter.com/BrightAMOUZOU1</a></div>
            <div>Tel/Whtasapp: &nbsp; <a href="https:wa.me/22890443461">+22890443461</a></div>

            
        </div>
    </div>
    <h3>
        My name is Bright AMOUZOU. I am a young fullstack developper passionate about IT
    </h3>

</footer>
<script src="nav.js"></script>










