<nav>
        
    <div class="logo">
        <a href="/"><h1>FreeOpinion</h1></a>
    </div>

    <ul class="nav-links">
        <li>
            <a href="/">Home </a>
        </li>

        <li>
            <a href="/forums all">Formus</a>
        </li>

        <li>
            <a href="/admin/login">Espace admin</a>
        </li>

        <li>
            <a href="#footer">Nous contacter</a>
        </li>
        
    </ul>

    <div class="options">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>


</nav>
