<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <title>Forum: <%=currentForum.name%></title>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <%-include('./partials/nav.ejs')%>
    <main>

        Forum
    </main>



    <%-include('./partials/footer.ejs')%>
</body>
</html>